@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 300;
    color:black;
}

.header{
    overflow: hidden;
    padding:10px 80px;
    background-color:rgb(1, 75, 75);
    position:sticky;
    top:0px;
    z-index: 10;
    display: flex;
}

.header-left{
    flex: 1 1 auto;
    display:flex;
    justify-content: space-between;
    padding-right: 70px;
    align-items: center;
}

h1{
    font-size: 25px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: lighter;
    padding: 10px 10px;
}

#logo{
    color:white;
    float: left;
    text-decoration: none;
    font-family: Montserrat;
    font-weight: lighter;
}

.register{
    color: yellow;

}

.header-left span {
    color:yellow;
    font-weight: bold;
    text-decoration: none;
}

.header-left a{
    text-decoration: none;
}

.menu{
    float:right;
    color: white;
    padding:5px;
    cursor: pointer;
    border: 1px solid white;
    
}

.menu .bi{
    font-size: 20px;
}

.navigation-button{
    position:fixed;
    top:10px;
    right:20px;
    width:200px;
    padding:10px 10px;
    border-radius: 10px;
    z-index:100;
    background-color: white;
    display: none;
}

.menu:focus-within .navigation-button{
    display:block;
}

.navigation-button a{
    text-decoration: none;
    color:black;
    font-size: 80%;
    font-family: 'Montserrat', 'sans-serif';
    padding: 10px;
    display: block;
}

ul{
    float:right;

}
.navigation-button li{
    list-style-type: none;
    font-weight: 400;
}

.container{
    background-color: rgb(50, 73, 3);
    background-image: url('../images/online-marketing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    height: 100vh;
}

.welcome-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 80px;
}

.welcome{
    padding:40px 80px;
}

.welcome h2{
    font-size: 30px;
    font-weight:300;
    font-family: inherit;
    text-align: center;
}

.welcome p{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}


#alignment{
    height:300px;
    padding-left:80px;
    padding-right:80px;
    display: flex;
    flex-wrap: wrap;
}

.left{
    padding-top: 30px;
    padding-bottom: 30px;
    width:30%;
}

.left h4{
    font-size: 25px;
    font-weight:bold;
    font-family: inherit;
    text-align: left;
}

.left-side-heading ul{
    padding-left: 20px;
    float: left;
    margin-top: 20px;

}

.left-side-heading li{
    line-height: 25px;
    text-align: left;
    cursor: pointer;
    font-size: 18px;
}

.centre{
    padding-top: 30px;
    padding-bottom: 30px;
    width:40%;
}

.centre p{
    font-size: 35px;
    padding-left: 20px;
}

.centre span{
    color: rgb(1, 75, 75);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: from-font;
}

.center-text-two{
    margin-top: 22px;
}

.center-text-two p{
    font-size: 18px;
}

.alignment-line{
    width: 100%;
    height: 0px;
}

.right{
    padding-top: 30px;
    width:30%;
}

.right-heading h5 {
    font-size: 25px;
    font-weight:bold;
    font-family: inherit;
    text-align: right;
}

.right-heading p{
    font-size: 18px;
    text-align: right;
}

.right-heading-two{
    margin-top: 40px;
}
.right-heading-two h6{
    font-size: 25px;
    font-weight:bold;
    text-align: right;

}

.right-heading-two p{
    font-size: 18px;
    text-align: right;
}

.contact-details{
    height:100px;
    padding-left: 80px;
    padding-right:80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact{
    font-size: 15px;
    text-align: center;
}

footer {
    height: 50px;
}

.social-media {
    position: fixed;
    bottom: 0;
    top: 90%;
    left: 0%;
    right: 0%;
    background-color: white;
    text-align: center;
}

.social-media>li {
    display: inline-block;
    width: 70px;
    height: 3px;
}

.social-media>ul {
    padding-top: 10px;
}

.social-media i {
    font-size: 120%;
    color: rgb(1, 75, 75);;
    padding: 9px;
    margin: 20px;
    text-align: center;
}

/* about page section */

#about-us{
    display: flex;
    /* justify-content: center; */
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

.about-crisplen{
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    width:30%;
    background-color: blueviolet;
}

.holding-hands-picture{
    background-color: rgb(255, 226, 80);
    width: 500px;

}

.holding-hands-picture img{
}

@media screen {
    
}